/* Navbar.css */
.App {
    text-align: center;
    flex: 1;
  }
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.navbar {
    background: linear-gradient(blue, red, violet);
    padding: 10px;
    text-align: center;
    width: 100%;
    position: sticky;
   background-color: black;
    position: fixed;
    top: 0;
    left: 0;
  

  }
  .navbar .logo{
    background: linear-gradient(45deg, red, #da1c65);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;

  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline;
    margin: 0 20px;
  }
  
  .navbar ul li a {
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar ul li a:hover {
    color: #f0a500;
  }
  