body {
  background-color: rgb(45, 46, 44);
}

#App-Container{
  flex-grow: 1;
  padding: 1rem;
  padding-bottom:2000px;
  text-align: center;
  background-color:bisque;
  border-color: aqua;
   
}
#App-nav{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #333;
  color: white;
  padding: 10rem;
}
#App-footer{
 
  
}
/* Nabar */
/*  */




body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

